In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
plt.close('all')

In [5]:
shake = pd.read_csv(r"C:\Users\Eric\Documents\EECS 731\Project 2\data\archive\Shakespeare_data.csv")

In [6]:
shake.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [7]:
shake

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [8]:
players = shake[['Play', 'Player']]

In [9]:
players

                  Play         Player
0             Henry IV            NaN
1             Henry IV            NaN
2             Henry IV            NaN
3             Henry IV  KING HENRY IV
4             Henry IV  KING HENRY IV
...                ...            ...
111391  A Winters Tale        LEONTES
111392  A Winters Tale        LEONTES
111393  A Winters Tale        LEONTES
111394  A Winters Tale        LEONTES
111395  A Winters Tale        LEONTES

[111396 rows x 2 columns]

In [10]:
players.groupby('Player')['Play'].count()

Player
A Lord                1
A Patrician           4
A Player              4
AARON               375
ABERGAVENNY          18
                   ...
Young MARCIUS         2
of BUCKINGHAM        14
of King Henry VI     10
of Prince Edward     10
of young Princes     11
Name: Play, Length: 934, dtype: int64

In [11]:
play = shake['Play'].unique()

In [12]:
play

array(['Henry IV', 'Henry VI Part 1', 'Henry VI Part 2',
       'Henry VI Part 3', 'Alls well that ends well', 'As you like it',
       'Antony and Cleopatra', 'A Comedy of Errors', 'Coriolanus',
       'Cymbeline', 'Hamlet', 'Henry V', 'Henry VIII', 'King John',
       'Julius Caesar', 'King Lear', 'Loves Labours Lost', 'macbeth',
       'Measure for measure', 'Merchant of Venice',
       'Merry Wives of Windsor', 'A Midsummer nights dream',
       'Much Ado about nothing', 'Othello', 'Pericles', 'Richard II',
       'Richard III', 'Romeo and Juliet', 'Taming of the Shrew',
       'The Tempest', 'Timon of Athens', 'Titus Andronicus',
       'Troilus and Cressida', 'Twelfth Night', 'Two Gentlemen of Verona',
       'A Winters Tale'], dtype=object)

In [13]:
lines = shake[['Play', 'Player', 'PlayerLine']]

In [14]:
lines

,Play,Player,PlayerLine
0,Henry IV,NaN,ACT I
1,Henry IV,NaN,SCENE I. London. The palace.
2,Henry IV,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,Henry IV,KING HENRY IV,"So shaken as we are, so wan with care,"
4,Henry IV,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...
111391,A Winters Tale,LEONTES,"Lead us from hence, where we may leisurely"
111392,A Winters Tale,LEONTES,Each one demand an answer to his part
111393,A Winters Tale,LEONTES,Perform'd in this wide gap of time since first
111394,A Winters Tale,LEONTES,We were dissever'd: hastily lead away.
111395,A Winters Tale,LEONTES,Exeunt

In [15]:
hamletOnly = lines[lines.Play == 'Hamlet']

In [16]:
hamletOnly

,Play,Player,PlayerLine
32432,Hamlet,CYMBELINE,ACT I
32433,Hamlet,CYMBELINE,SCENE I. Elsinore. A platform before the castle.
32434,Hamlet,CYMBELINE,FRANCISCO at his post. Enter to him BERNARDO
32435,Hamlet,BERNARDO,Who's there?
32436,Hamlet,FRANCISCO,"Nay, answer me: stand, and unfold yourself."
...,...,...,...
36671,Hamlet,PRINCE FORTINBRAS,Speak loudly for him.
36672,Hamlet,PRINCE FORTINBRAS,Take up the bodies: such a sight as this
36673,Hamlet,PRINCE FORTINBRAS,"Becomes the field, but here shows much amiss."
36674,Hamlet,PRINCE FORTINBRAS,"Go, bid the soldiers shoot."
36675,Hamlet,PRINCE FORTINBRAS,"A dead march. Exeunt, bearing off the dead bod..."

In [17]:
# From https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html

In [2]:
import torch

In [3]:
import torchtext

ModuleNotFoundError: No module named 'torchtext'

In [ ]:
from torchtext.datasets import text_classification

In [ ]:
NGRAMS = 2

In [ ]:
import os

In [ ]:
if not os.path.isdir('./.data'):
    os.mkdir('./.data')
train_dataset, test_dataset = text_classification.DATASETS['AG_NEWS'](
    root='./.data', ngrams=NGRAMS, vocab=None)

In [ ]:
BATCH_SIZE = 16

In [ ]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")